<script>
'use strict';
$(() => {

  $('button#next').click(() => {
    const displayName = cd.selectedDisplayName;
    const params = `exercise_name=${encodeURIComponent(displayName)}`;
    window.location = `<%= @next_url %>?${params}`;
  });

});
</script>

<div>
  <button type="button" id="next">next</button>
</div>
