
@import "colour";
@import "fonts";
@import "rounded-corner";
@import "edged-panel";
@import "wide-list-item";
@import "button";
@import "body";
@import "center";

#exercises-chooser-page
{
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
  margin: { top: 10px; }
  font-size: 1.15em;

  #heading
  {
    @include non-code-font();
    color: $lighter-color;
    font-size: 70px;
    text-align: center;
  }

  #display-names, #exercise-info-box
  {
    height: 340px;
    padding: 6px;
    margin-right: 5px;
    overflow-y: auto;
    overflow-x: auto;
    @include edged-panel();
    .display-name
    {
      @include wide-list-item();
      max-width: 375px;
    }
  }
  #display-names     { width: 250px; max-width: 250px; }
  #exercise-info-box { width: 500px; max-width: 500px; }


  button#next
  {
    @include non-code-font();
    font-size: 1.85em;
    margin-top: 5px;
  }
}
