
<div id="exercises-chooser-page">
  <table id="exercises-chooser-box">
    <tr><td><%= erb :'group/heading' %></td></tr>
    <tr><td><%= erb :'shared/sub_heading' %></td></tr>
    <tr><td><%= erb :'shared/display_names' %></td></tr>
    <tr><td><%= erb :'shared/next_button' %></td></tr>
  </table>
<div>
