<script>
'use strict';
$(() => {

  const displayNames = $('.display-name');
  displayNames.click((event) => {
    cd.selectedDisplayName = $(event.target);
    displayNames.removeClass('selected');
    cd.selectedDisplayName.addClass('selected');
    //TODO:show instructions
  });
  const random = (n) => Math.floor(Math.random() * n);
  const any = random(displayNames.length);
  $(displayNames[any]).click().scrollIntoView();

});
</script>

<div id="display-names">
  <% @display_names.each.with_index do |display_name,index| %>
    <div class="display-name" data-index="<%= index %>">
      <%= display_name %>
    </div>
  <% end %>
</div>

<% @instructions.each.with_index do |text,index| %>
   <textarea style="display:none;" id="instructions_<%= index %>"><%= text %>
   </textarea>
<% end %>
